@import "../style/variables.css";

.btn_grey,
.btn_white {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;
	font-size: 1.3vw;
    width: 14vw;
    height: 8vh;
	text-decoration: none;
	padding: 0 0;
	text-transform: uppercase;
	transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.btn_grey {
	background-color: var(--color-dark-gray);
	color: var(--color-light);
}

.btn_white {
	margin-top: 1.8vw;
	margin-right: 1.5vw;
	background-color: var(--color-light);
	color: var(--color-black);
}

.arrow {
	margin-left: 0;
	align-self: center;
}


.btn_grey:hover,
.btn_white:hover {
	background-color: var(--color-shadow-gray);
}

.btn_grey:hover {
	background-color: var(--color-shadow-gray);
}
.btn_contact {
	display: flex;
	flex-flow: row;
	justify-content: center;
}

@media (min-width:320px) and (max-width:768px) {
	.btn_grey,
.btn_white {
	width: 10vw;
    height: 6vw;
	text-align: center;
	font-size: 2vw;
}
.arrow {
	display: none;
}
	
}

@media (min-width:768px) and (max-width:1024px) {
	.btn_grey,
.btn_white {
	width: 9vw;
height: 4vw;
text-align: center;
	font-size: 1.5vw;
}

.arrow {
	display: none;
}
} 