.contacts {
    display: flex;
    justify-content: space-between;
}

.contact-block {
    width: 35%;
    margin-top: 5%;
    margin-right: 15%;
}

.map-block {
    position: relative;

    border: 1px solid var(--color-black);
}

.map-block__img {
    position: absolute;
    left: 650px;
    top: 150px;
}

.address {
	margin-bottom: 30px;
}

.address-block__title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: inherit;
    color: var(--color-dark-gray);
    padding-bottom: 0.5%;
}

.address-block__text {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 0, 64rem;
    color: var(--color-dark-gray);
}

.address__phone {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 0, 72rem;
    color: var(--color-dark-gray);

    display: block;
    width: max-content;
    margin-top: 15%;
    margin-bottom: 15%;
}

.address__mail {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 0, 64rem;
    color: var(--color-dark-gray);

    display: block;
    width: max-content;
    padding-top: 2%;
    padding-bottom: 2%;
}

.modal-window {
    position: fixed;
    width: 100vw;
    height: 100vh;
    bottom: 0;
    right: 0;
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    overflow: hiden;
}

.modal-window:target {
    visibility: visible;
    opacity: 1;
}

/* стили для мобильных */

@media screen and (max-width: 767px) {
    .contacts {
        flex-wrap: wrap;
        justify-content: center;
    }

    .address {
        padding-top: 5%;
    }

    .map-block {
        margin-top: 10%;
    }
}

/* стили для планшетов */

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .contacts {
        width: 10vw;
        flex-wrap: wrap;
    }

    .contact-block {
        display: flex;
    }

    .address {
        margin-left: 6vw;
        margin-right: 6vw;
    }
}