body{
    height: 100vh;
}
.gallery__container{
    padding-bottom: 5%;
}

.gallery__container, .gallery__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gallery__img img{
    min-width: 100%;
}



