header {
    margin: 0 5% 2% 5%;
    padding-top: 2%;
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
}

.logo {
    max-width: 8%;
    border-style: none;
}

li.header {
    list-style-type: none;
    display: inline;
    padding-left:4vw;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5vw;
    line-height: 2vw;
}

a.nav {
    text-decoration: none;
    color: #333333;
}

a.nav:hover {
    text-decoration: overline underline;
    color: #5877c1;
}

.footer{
    min-height: 30%;
    background-color: #2C2C2C;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding-top: 4vh;
    padding-bottom: 4vh;
   
}

.ft{
    display: block;
    padding: 0;
    color: white;
}
a.ft:hover {
    text-decoration: overline underline;
    color: #5877c1;
}
li.ft{
    padding-bottom: 1.3vw;
    font-size: 1.1vw;
}
.logo_white{
    padding-left: 5%;
    max-width: 14%;
}

h4.ft{
    margin: 0 0 3vh 0;
}

.ft__grid{
    font-size: 1.2vw;
    max-width: max-content;
    display: grid;
    grid-template-columns: 0.5fr 70%;
    row-gap: 3vw;
}
.social_media{
    padding-right: 5%;
    width: 20%;
}
.ft__img{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.icon{
    max-width: 2vw;
}
.block{
    background-color: #2C2C2C;
    border-top: 1px solid #6c6c6c;
    width: 100%;
    min-height: 5vh;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    color: #6c6c6c;
    font-size: 1.3vw;
}
