/*tablets*/
@media (max-width: 1023px) {
	.hero-descr {
		font-size: 42px;
		line-height: 50px;
	}

	.hero__left {
		grid-column: span 5;
	}

	.hero__right {
		grid-column: span 7;
	}

	.hero__descr {
		font-size: 46px;
		line-height: 54px;
	}

	.about__descr {
		padding: 0 15px;
		max-width: none;
	}

	.about__img-block1 {
		grid-column: span 6;
		order: 2;
	}

	.about__img-block2 {
		grid-column: span 6;
		order: 3;
	}

	.about__description {
		grid-column: span 12;
		order: 1;
		text-align: center;
	}

	.missions {
		padding-top: 100px;
		padding-bottom: 80px;
		gap: 20px;
	}

	.missions__count {
		font-size: 150px;
		line-height: 200px;
	}

	.missions__text {
		font-size: 15px;
		line-height: 27px;
	}

	.projects-info {
		padding-top: 1.8rem;
		padding-left: 2rem;
	}

	.projects-info__title {
		font-size: 38px;
		line-height: 44px;
	}

	.projects-info__btn {
		font-size: 10px;
		line-height: 10px;
	}

	.contact__form {
		grid-column: span 5;
	}

	.contact__block {
		gap: 20px;
	}

	.contact__img {
		grid-column: span 7;
	}
}

/*mobile*/
@media (max-width: 767px) {
	header {
		margin: 0;
	}
	
	.hero {
		position: relative;
	}

	.header-block {
		padding: 5px 10px;
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 100;
		width: 100%;
		background-color: rgba(255, 255, 255, 0.8);
	}

	.nav:not(:last-child) {
		margin-right: 10px;
	}

	.hero__left {
		grid-column: span 12;
		text-align: center;
	}

	.hero__right {
		grid-column: span 12;
	}

	.btn-block {
		display: none;
	}

	.counter {
		display: none;
	}

	/* .about__img-block1 {
		grid-column: span 6;
		order: 2;
	}

	.about__img-block2 {
		grid-column: span 6;
		order: 3;
	}

	.about__description {
		grid-column: span 12;
		order: 1;
		text-align: center;
	} */

	.about__descr {
		max-width: none;
	}

	.missions__block {
		grid-column: span 12;
	}

	.projects__title {
		text-align: center;
	}

	.missions__text {
		font-size: 16px;
		line-height: 22px;
	}

	.projects__card {
		grid-column: span 12;
	}

	.contact {
		padding-bottom: 30px;
	}

	.contact__block {
		margin-bottom: 30px;
	}

	.contact__title {
		text-align: center;
	}

	.contact__form {
		grid-column: span 12;
	}

	.contact__img {
		grid-column: span 12;
	}
}

@media (max-width: 374px) {
	.about {
		gap: 0;
	}

	.about__img-block2 {
		display: none;
	}

	.about__img-block1 {
		margin-top: 20px;
		grid-column: span 12;
	}

	.about__img-block1 img {
		width: 88%;
	}

	.projects__card img {
		width: 88%;
	}

	.projects-info {
		padding-top: 1rem;
		padding-left: 2rem;
		width: 88%;
		max-height: 100%;
	}

	.projects-info__title {
		font-size: 30px;
		line-height: 40px;
	}
}