.sampleproject {
    display: flex;
    flex-direction: row;
    padding: 30px 0px;



}

.sampleproject__description {
    background-color: #fbfbfb;
    padding: 30px;


}

.sampleproject1 {
    border-top: 1px solid var(--color-light-gray);
}

.title {
    font-size: 40px;
}

.sampleproject__descr {
    padding: 50px 0px;

}

.sampleproject__img {
    width: 100vw;
}