/* =======overall settings======= */
.site-container {
	overflow: hidden;
}

.container {
	max-width: 1200px;
	padding: 10px 15px;
	margin: 0 auto;
}

.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: var(--color-light-gray);
}

.btn-reset {
	border: none;
	padding: 0;
	background-color: transparent;
	cursor: pointer;
}

.list-reset {
	margin: 0;
	padding: 0;
	list-style: none;
}

.grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

.title {
	margin: 0;
	font-size: 64px;
	font-weight: 300;
	line-height: 64px;
	color: var(--color-gray);
}

.descr {
	margin: 0;
	font-weight: 300;
	font-size: 1.3vw;
    line-height: 1.6vw;
	color: var(--color-black);
}

@media (max-width: 1023px) {
	.title {
		font-size: 46px;
		line-height: 54px;
	}
}

@media (min-width:320px) and (max-width:768px) {
	.descr {
		font-size: 4vw;
		line-height: 5vw;
	}
}