.projects {
	padding-bottom: 120px;
}

.projects__title {
	margin-bottom: 60px;
}

.projects__block {
	margin-bottom: 30px;
	gap: 30px;
}

.projects__card {
	position: relative;
	grid-column: span 6;
}

.projects__card--3 {
	grid-column: span 3;
}

.projects__card--5 {
	grid-column: span 5;
}

.projects__card--4 {
	grid-column: span 4;
}

.projects__img {}

.projects-info {
	padding-top: 3rem;
	padding-left: 5rem;
	position: absolute;
	width: 100%;
	min-height: 100%;
	top: 0;
	left: 0;
	background-color: var(--color-dark-gray);
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}

.projects-info--3 {
	padding-top: 3rem;
	padding-left: 1.5rem;
}

.projects-info__title {
	margin-bottom: 10px;
	max-width: 240px;
	font-weight: 700;
	font-size: 64px;
	line-height: 64px;
	color: var(--color-light);
}

.projects-info__btn {
	position: relative;
	display: block;
	font-family: 'Gothic A1', sans-serif;
	font-weight: 400;
	font-size: 12px;
	line-height: 12px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: var(--color-light);
}

.projects-info__btn::after {
	content: '';
	margin-left: 20px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 24px;
	height: 24px;
	background-image: url(../img/arrow-right-white.svg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.projects-info:hover {
	opacity: 0.8;
}